.plans {
    width: 23vw;
    height: 15vh;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

#homePage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_place {
    display: flex;
    justify-content: center;
    align-items: center;
}