
// body{
//     display: flex;
//     justify-content: flex-end;
//     margin-right: 3vw;

.plans{
    height: 85vh;
    width: 83vw;
    background-color: #fff;
    box-shadow: 1px 1px 0 #aaa;
    padding: 1vw;
    padding-left: 10vw;
    .search{
        width: 50vw;
    }
   }
// }