.plans {
    width: 23vw;
    height: 15vh;
    border: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
}

#homePage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.common_place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.75vw;
    height: 80%;

    .tool {
        background-color: #D4D7FA;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        section {
            height: 50%;
            width: 100%;
            justify-content: center;
            display: flex;
            font-size: 14px;
        }

    }

    .tool>section:nth-child(1) {
        align-items: flex-end;
        margin-bottom: 1vh;
    }

    .tool:hover {
        background-color: #aeb4f5;

    }
}