/* 兑换礼包页面 */
.exchangeGift {
	width: 30rem;
	margin-top: 4.5rem;
	height: 100%;

	div {
		background-color: rgba(255, 255, 255, 0.75);
		border-radius: 1.5vw;
		padding: 1vw;
		display: flex;
		flex-direction: column;
		margin-bottom: 2rem;

		img {
			width: 1.6vw;
			vertical-align: middle;
		}
	}

	div>section:nth-child(2) {
		display: flex;
		flex-direction: column;
		padding: 0 2vw;

		input {
			width: 100%;
			height: 6vh;
			border: 1px solid #ddd;
			background-color: rgba(255, 255, 255, 0);
			border-radius: 0.5vw;
			margin: 1vw 0;
			outline: none;
			text-align: center;
			letter-spacing: 5px;
			font-weight: bold;
			font-size: 1rem;
			color: #999;
		}

		button {
			margin: 1vh 0;
		}

		span {
			font-size: 12px;
			margin: 0.8vw 0;
			color: #888;
		}

		th {
			font-size: 12px;
			color: #158fc5;
		}

		td {
			font-size: 12px;
			color: #888;
			text-align: center;
		}
	}
}