.animation {
  position: absolute;
}
.bg {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  z-index: -1;
}
.progress {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress > div {
  width: 100%;
  position: relative;
}
.progress > div:nth-child(2) {
  display: flex;
  justify-content: end;
}
.progress > div > div {
  width: 5px;
  height: 5px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  top: -1px;
  box-shadow: 0px 0px 2.5px #fff, 0px 0px 5px #fff, 0px 0px 7.5px #fff;
  animation: left 0.75s 0s 1 ease-in-out forwards;
}
.progress > div:nth-child(2) > div {
  animation: right 0.75s 0s 1 ease-in-out forwards;
}
hr {
  width: 0%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 2.5px #fff, 0px 0px 5px #fff, 0px 0px 7.5px #fff;
  animation: progress 0.75s 0s 1 ease-in-out forwards;
}

/* 进度条动画 */
@keyframes progress {
  0% {
    width: 0%;
  }
  75% {
    width: 75%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
/* 进度条头头小圆点动画 */
@keyframes left {
  0% {
    left: 0vw;
  }
  75% {
    left: 37.5vw;
  }
  90% {
    left: 50vw;
  }
  100% {
    left: 50vw;
  }
}
@keyframes right {
  0% {
    right: 0vw;
    filter: opacity(1);
  }
  75% {
    right: 37.5vw;
    filter: opacity(1);
  }
  90% {
    right: 50vw;
    filter: opacity(1);
  }
  100% {
    right: 50vw;
    filter: opacity(0);
  }
}
