.baseMsg {
    width: calc(100vw/3);
    height: 100%;

    .mainItem {
        display: grid;
        grid-template-rows: 3fr 2fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            "top"
            "middle"
            "bottom";
        row-gap: 4vh;
        height: 92%;

        div {
            background-color: rgba(255, 255, 255, 0.85);
            border-radius: 1.5vw;
            padding: 1vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                width: 1.5rem;
            }

            img,
            span {
                vertical-align: middle;
            }

            section {
                padding: 0 1.5vw;

                input {
                    width: 65%;
                    height: 4vh;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    margin-right: 1.5vw;
                    background-color: rgba(255, 255, 255, 0);
                    font-size: 1rem;
                    margin-top: 1vh;
                    padding-left: 0.25vw;
                }

                button {
                    background-color: #158FC5;
                    border: none;
                    cursor: pointer;
                    color: #fff;
                    width: 7.5vw;
                    height: 4.55vh;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 4vw;
                }
            }

            section>p:nth-child(1) {
                color: #158FC5;
                font-size: 13px;
                font-weight: bold;
            }
        }

        div>section:nth-child(1) {
            height: 4vh;
            padding: 0;
            color: #000;
        }

        div:nth-child(1) {
            grid-area: top;
        }

        div:nth-child(2) {
            grid-area: middle;
        }

        div:nth-child(3) {
            grid-area: bottom;
        }

    }
}

.userinfo{
    section{
        color: #ff0000;
        font-size: 13px;
    }
}

// 自助查询
.query_word{
    font-size: 13px;
    position: relative;
    bottom: 2vh;
    padding: 0;
}
.queryImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 7.5vh;
    border-radius: 5vw;
    line-height: 7.5vh;
    position: relative;
    bottom: 1vh;
    left: 2vw;
    color:#FFF;
    font-weight: bold;
    padding-left: 3vw !important;
    font-size: 1.15rem;
    cursor: pointer;
}
