#exchangeInput{
    width: 100%;
    height: 5vh;
    border: 1px solid #000;
    border-radius: 0.5vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: #898282;
}
.word{
    font-size: 12.5px;
    color: #aaa;
}
.contexts{
    border-collapse: collapse;
    td{
        width: 9.5vw;
        font-size: 12px;
        color:#45A3CC;
        text-align: center;
    }
}
/* .mainItem{
    position: relative;
    top: 5vh;
} */

/* .mainItem>div:nth-child(2){
    position: relative;
    bottom: 8vh;
} */