.listCon {
    position: relative;
    top: 4vh;
    grid-template-rows: 6fr 2fr 1fr !important;

    .lists {
        display: flex;
        justify-content: space-between;
        height: 7vh;
        align-items: center;
        cursor: pointer;
    }

    .lists>section {
        span {
            font-size: 13px;
            color: #ccc;
            vertical-align: middle;
        }
        section{
            margin-left: 0.6em;
            height: 0;
            border-left: 0.4em solid #d8d8d8;
            border-top: 0.4em solid transparent;
            border-bottom: 0.4em solid transparent;
            display: inline-block;
            vertical-align:middle;
        }
    }
}