.menu{
    width: 85vw;
    height: 90vh;
    display: block;
    padding: 1vw;
    background-color: #fff;
    border:1px solid #eee
}
.menu:hover{
    box-shadow: 
    0px 0px 2px #ccc,
    0px 0px 3px #ccc,
    0px 0px 4px #ccc,
    0px 0px 5px #ccc,
    0px 0px 6px #ccc;
}
// 这罩层样式
.dialog{
    width: 45vw;
    height: 55vh;
    background-color: #fff ;
    border-radius: 2vw;
}