//登录注册页面的遮罩层样式
.mathcode {
    background-color: #fff;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        padding: 0.5vw 1vw;
        width: 100%;
        height: 100%;

        section {
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 45%;
                height: 30%;
                border: none;
                background-color: rgba(255, 255, 255, 0);
                outline: none;
                border-bottom: 1px solid #989494;
                padding: 0 0.5vw;
                margin-right: 0.5vw;
                margin-top: 17%;
                font-size: 16px;
            }

            span {
                width: 48%;
                height: 0%;

                svg {
                    width: 100%;
                }
            }
        }

        button {
            width: 10rem;
            height: 3rem;
            margin: 0 1vw;
            border: none;
            font-size: 15px;
        }
    }
}