.infoDevice {
    background-color: #fff;
    width: 30rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        border-bottom: 1px solid #ccc;

        button {
            margin-right: 0.5rem;
            background-color: #f5f1f1;
            border-radius: 0.5rem;
            color: #000;
            font-weight: normal;
            font-size: 0.9rem;
        }

        button:hover {
            background-color: rgba(0, 152, 220, .1);
            transition: all 0.3s ease-in 0.1s;

        }

        .active {
            color: #158fc5;
            border: 1px solid #158fc5;
            background-color: rgba(0, 152, 220, .1);
            transition: all 0.3s ease-in 0.1s;
        }
    }

    .btns>button:last-child {
        margin-right: 0;
    }

    .content {
        .title {
            font-weight: bold;
            padding: 1rem 0;
        }

        div {
            background-color: #f5f1f1;
            padding: 0.8rem;
            section{
                span{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .content>div>section {
        display: grid;
        grid-template-columns: 1fr 2.9fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
        padding-top: 1rem;
        gap: 1rem;
    }

}

.ThirdShare {
    background-color: #fff;
    width: 30rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 1rem;

    .title {
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
    }

    .content>section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: "left right";
        padding-top: 1rem;
        gap: 1rem;
        font-size: 0.9rem;
    }

    .content>section>a {
        /*单词强制换行*/
        word-break: break-all;
        font-size: 0.8rem;
    }

    .content>section>span:nth-child(1) {
        color: #B5A8C5;
    }
}