// 图片盒子
.bgImg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15vh;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}
// 盒子样式
.login {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8.5fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
}

// 头部的样式
header {
    grid-area: header;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "headerLeft headerRight";
    display: grid;
    box-shadow: 0px 0px 5px #aaa,
        0px 0px 7.5px #aaa,
        0px 0px 10px #aaa;
    z-index: 1;
    background-color: #fff;
    position: sticky;
    top: 0;
    .title,
    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-area: "headerLeft";
    }

    div {
        grid-area: "headerRight";
    }

    // 头部左边
    .title {

        // 图片
        img {
            width: 7.5vw;
            position: relative;
            left: 4vw;
        }
    }

    .rightSectionParent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 2.5vw;
        img {
            width: 2.25vw;
        }

        .rightSection {
            width: 100%;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1vh;
        }
    }

    .leftSectionParent {
        cursor: pointer;
        font-size: 12px;
        text-align: center;
    }

}

// 主体
main {
    grid-area: main;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
// 当前账号部分
main>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top:12.25vh;
    section {
        background-color: #158FC5;
        width: 14vw;
        height: 3vh;
        border-radius: 2vw;
        color: #fff;
        font-size: 13px;
        text-align: center;
        line-height: 3vh;
    }

    section>span:nth-child(2) {
        margin: 0vh 1vw;
        color: #000;
    }
}
// 底部
footer {
    grid-area: footer;
    background-color: #fff;
    section {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 1vw;
        }
    }
}

// 遮罩层内部样式
.loginOut {
    width: 20vw;
    height: 12vw;
    background-color: #fff;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div,
    section {
        height: 100%;
    }

    section {
        display: flex;
        justify-content: center;

        button {
            height: 5vh;
            width: 7vw;
            background-color: #158FC5;
            border: none;
            color: #fff;
            border-radius: 4vw;
        }

        .left {
            margin-right: 3vw;
        }
    }
}

// 菜单动画
// 展示nav展开的动画
@keyframes showOut {
    0% {
        width: 0vw;
        height: 0vh;
        background-color: #fff;
        border-radius: 0;
        position: absolute;
        left: -20px;
    }

    15% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -20px;
    }

    50% {
        width: 370px;
        height: 400px;
        border-radius: 50%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
    85%{
        width: 450px;
        height: 60vw;
        border-radius: 25%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
    100% {
        width: 550px;
        height: 100vw;
        border-radius: 0;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
}

@keyframes showIn {
    0% {
        width: 0vw;
        height: 0vh;
        background-color: #fff;
        border-radius: 0;
        position: absolute;
        left: -20px;
    }

    15% {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -20px;
    }

    50% {
        width: 370px;
        height: 400px;
        border-radius: 50%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
    85%{
        width: 450px;
        height: 60vw;
        border-radius: 25%;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
    100% {
        width: 550px;
        height: 100vw;
        border-radius: 0;
        background-color: rgb(0, 152, 220);
        position: absolute;
        left: -155px;
    }
}

// X按钮--取消nav展开
.cancel::before,.cancel::after{
    content: "";
    border-top: 3px solid #fff;
    transform: rotateZ(45deg);
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 29px;
}
.cancel::after{
    transform: rotateZ(-45deg);
    left: 28px;
    top: 29px;
}

// 菜单
.menus{
    z-index: 1;
    position: fixed;
    top: 11vh;
    left: 2vw;
    img{
        width:1.5vw;
        margin-right:0.5vw;
    }
    li{
        color:#fff;
        height: 8vh;
        width: 20vw;
        border-bottom: 1px solid #1AA3E0;
        line-height: 8vh;
        cursor: pointer;
        font-weight: bold;
        font-family: "宋体";
        filter:opacity(0);
    }
    img,span{
        vertical-align: middle;
    }
    
}

@keyframes disappear{
    0%{
        filter:opacity(1)
    }
    100%{
        filter:opacity(0)
    }
}

@keyframes exist {
    0%{
        filter:opacity(0)
    }
    100%{
        filter:opacity(1)
    }
}