.wirpper {
  width: 83.4vw;
  height: 84vh;
  border: 1px solid #e4e7ed;
  border-radius: 3px;
  background-color: white;
  padding: 1vw;
  transition: all 0.1s 0s linear;

  .nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 5vh;
  }

  .el-table__inner-wrapper {

    .el-table__header-wrapper,
    .el-table__body-wrapper {

      th,
      td {
        left: auto;
        text-align: center;
      }

      tr>td:nth-child(1),
      tr>th:nth-child(1) {
        left: auto;
        text-align: start;
      }

    }
  }
}

.wirpper:hover {
  box-shadow: 0px 0px 5px #ccc, 0px 0px 7.5px #ccc, 0px 0px 10px #ccc;
}

.addMenu {
  background-color: #fff;
  padding: 2vh;
  border-radius: 1vw;
}

// 删除信息框按钮的样式
.MSGBOX {

  .el-message-box__headerbtn {
    width: 5vw;
    background-color: #fff;
  }

  .OKCSS {
    text-align: right;
    width: 5vw;
    margin-right: 2vw;
  }
}