.bg{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.center{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
}
header{
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'left middle right';
    background-color: #fff;
    box-shadow: 0px 0px 2px #999797,
    0px 0px 4px #999797,
    0px 0px 6px #999797,
    0px 0px 8px #999797;
    position: sticky;
    top: 0;
    // 头部左上角的三个斜杆的样式
    .unfold{
        grid-area: left;
        display: flex;
        align-items: center;
        margin-left: 1vw;
        .svg>svg{
            width: 2.3vw;
            position: relative;
            z-index: 1;
        }
        // 侧边栏
        .nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 4;
            text-align: left;
            padding: 0vw 3vw;
            background-color: #0098DC;
            li {
                color: #fff;
                font-weight: bold;
                width: 21vw;
                height: 9vh;
                font-size: 1rem;
                font-family: "黑体";
                border-bottom: 1px solid #1AA3E0;
                cursor: pointer;
                line-height: 9vh;
                img {
                    width: 1.5em;
                    height: 1.5em;
                    margin-right: 0.5em;
                    vertical-align: middle;
                }
            }
            li:nth-child(1){
                margin-top: 10vh
            }
        }
    // x符号
    .cancel {
        position: absolute;
        left: 0vw;
        top: 1.7vw;
    }
    .cancel::before,.cancel::after{
        content: "";
        border-top:3px solid  #fff ;
        transform: rotateZ(45deg);
        width: 35px;
        height: 40px;
        position: absolute;
        left:0px;
        z-index: 5;
    }
    .cancel::after{
        transform: rotateZ(-45deg);
        left:28px;
    }

    // 点击菜单栏展开section盒子
    @keyframes showOut {
        0% {
            width: 0vw;
            height: 0vh;
            background-color: #fff;
            position: absolute;
            border-radius: 0;
        }
        15% {
            width: 4vw;
            height: 15vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10vw;
        }
        30% {
            width: 6vw;
            height: 30vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20vw;
        }
        45% {
            width: 6vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50vw;
        }
        55% {
            width: 10vw;
            height: 50vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 30vw;
        }
        65% {
            width: 6vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 20vw;
        }
        70% {
            width: 20vw;
            height: 70vh;
            background-color: #0098DC;  
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10vw;
        }
        85% {
            width: 6vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 6vw;
        }
        92% {
            width: 6vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4vw;
        }
        98% {
            width: 26vw;
            height: 95vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0vw;
        }
        100% {
            width: 27vw;
            height: 100vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0vw;
        }
    }
    // 点击菜单栏收回section盒子
    @keyframes showIn {
        0% {
            width: 0vw;
            height: 20vh;
            background-color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3vw;
        }

        15% {
            width: 20vw;
            height: 0vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3vw;
        }

        60% {
            width: 20vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3vw;
        }

        98% {
            width: 20vw;
            height: 20vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 3vw;
        }

        100% {
            width: 27vw;
            height: 100vh;
            background-color: #0098DC;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0vw;
        }
    }
}
   
    .title{
        grid-area: middle;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 7.3vw;
        }

    }
    .Customer{
        grid-area: right;
        display: flex;
        
        align-items: center;
        img{
            width: 2vw;
            text-align: center;
            cursor: pointer;
        }
        section{
            margin-right: 1vw;
            display: flex;
            align-items: center;
        }
        p{
            font-size: 13px;
            text-align: center;

        }
    }
}
main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    grid-area: footer;
    background-color: #fff;
    font-size: 13px;
    section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.3vw 0;
        img{
            width: 1vw;
        }
    }
}
