.infoBox{
    width: calc(100vw/3);
    height: 100%;
}
.info{
    height: 40%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    padding: 0vw 2vw;
    border-radius: 1.5vw;
    section{
        width: 100%;
        border-bottom: 1px solid #E3E3E3;
        padding-bottom: 1vw;
        display: flex;
        justify-content: space-between;
        padding: 1vw 0;
        span:nth-child(2){
            font-size: 12px;
            color: #D8D8D8;
        }
    }
    section:nth-child(4){
        border: none;
    }
}