// 登录
.login{
    background-color: rgba(255,255,255,0.8);
    width: 22vw;
    height: 50vh;
    margin-bottom: 15vh;
    border-radius: 2vw;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 0.75fr 1.75fr 1.25fr ;
    grid-template-areas: 
    "loginTop"
    "loginCenter"
    "loginBottom";
    padding: 2vw;
}
// 登录顶部
.login>section:nth-child(1){
    grid-area:loginTop ;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.5rem;
    font-weight: bold;
    color: #158FC5;
    padding-bottom: 2vh;
}
// 登录中间
.info{
    grid-area:loginCenter;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    p{
        display: flex;
    flex-direction: column;
    }
    p>input{
        width: 100%;
        border-radius:0.4vw;
        border: none;
        padding: 0.5vw;
    }
    p:nth-child(even){
        width: 100%;
        font-size: 12px;
        color: #930E0E;
    }
}
// 切换注册页面过后出现验证码按钮
// .info>section:nth-child(4){
//     display: flex;
// }
.info>section:nth-child(4)>p:nth-child(1){
    display: flex;
    flex-direction: initial;
}
.info>section:nth-child(4)>p:nth-child(1)>input{
    flex: 3;
}
.btn{
        color:#fff;
        background-color:  #158FC5;
        height: 5vh;
        border-radius: 2vw;
        border: none;
        font-weight: bold;
        margin-left: 1vw;
        flex: 4;
        font-size: 1.1rem
}

// 登录底部
.login>div:nth-child(3){
    grid-area:loginBottom ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    section{
        color: #158FC5;
        font-size: 13px;
        width: 100%;
    }
    button{
        color:#fff;
        background-color:  #158FC5;
        height: 5vh;
        border-radius: 2vw;
        border: none;
        font-size: 1.2rem;
        font-weight: bold;
    }
}
// bilibili样式
.login>div:nth-child(3)>section:nth-child(3){
    text-align: center;
}

// 登录注册切换 
.change{
    background-color: aqua;
    border-radius: 2vw;
    position: absolute;
    bottom: 17vh;
    left: 45vw;
    height: 2.5vw;
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.change>span:nth-child(1){
    color: #158FC5;
    font-size: 1.3rem;
}